.searchInput {
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(200, 200, 200, 0.2);
}

.textField {
  border-radius: 5px;
  border: none;
  outline: none;
}

.textField::placeholder {
  color: white !important;
}
